.button {
  display: block;
  height: 58px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 58px;
  text-align: center;
  background-color: $blue;
  border: none;
}
