.form-review__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form-review__legend {
  text-align: center;
  margin: 0;
  margin-bottom: 17px;
  padding-top: 20px;
  width: 100%;
  border-top: 1px solid $gray-elem;
}

.form-review__input-text,
.form-review__input-phone,
.form-review__input-email {
  height: 58px;
  border: none;
  padding-left: 22px;
  border-radius: 0;
  background-color: $gray-bg;
  margin-bottom: 20px;
  &::-webkit-input-placeholder {
    font-size: 18px;
    font-weight: 700;
    color: $black;
  }
  &::-moz-placeholder {
    font-size: 18px;
    font-weight: 700;
    color: $black;
  }
  &:-moz-placeholder {
    font-size: 18px;
    font-weight: 700;
    color: $black;
  }
  &:-ms-input-placeholder {
    font-size: 18px;
    font-weight: 700;
    color: $black;
  }
}

.form-review__input-name {
  width: calc(100% - 90px);
}

.form-review__input-phone,
.form-review__input-email {
  margin-top: 8px;
  margin-left: 20px;
  width: calc(100% - 40px);
  &::before {
    position: absolute;
    content: '';
    display: block;
    width: 58px;
    height: 58px;
    background-color: $gray-elem;
    top: 0;
    right: 0;
  }
}

.form-review__label-contacts {
  margin-left: 42px;
}

.form-review__button {
  width: calc(100% - 40px);
  margin-left: 20px;
  font-family: 'PT-Sans';
}

.form-review__label-radio,
.form-review__label-checkbox {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}

.form-review__label-radio {
  display: block;
  line-height: 58px;
  position: relative;
  padding-left: 78px;
  margin-bottom: 11px;
  margin-left: 20px;
  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 58px;
    height: 58px;
    background-color: $gray-bg;
    border-radius: 50%;
    top: 0;
    left: 0;
  }
}

.form-review__radio:checked~.form-review__label-radio:after {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-color: $black;
  border-radius: 50%;
  top: 17px;
  left: 17px;
}

.form-review__radio,
.form-review__checkbox {
  display: none;
}

.form-review__label-checkbox {
  display: block;
  line-height: 58px;
  position: relative;
  padding-left: 78px;
  margin-bottom: 24px;
  margin-left: 20px;
  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 58px;
    height: 58px;
    background-color: $gray-bg;
    top: 0;
    left: 0;
  }
}

.form-review__checkbox:checked~.form-review__label-checkbox:after {
  position: absolute;
  content: "";
  display: block;
  width: 23px;
  height: 16px;
  top: 17px;
  left: 17px;
  background-image: url(../img/icon-tick.svg);
  background-repeat: no-repeat;
}

.form-review__textarea {
  border: none;
  background-color: $gray-bg;
  margin-left: 20px;
  width: calc(100% - 40px);
  padding-left: 21px;
  padding-top: 13px;
  padding-right: 21px;
  height: 160px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 51px;
}
