.info-section {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  text-align: center;
  &--real-city,
  &--devils-bridge {
    padding-bottom: 272px;
    color: $white;
    background-color: $blue;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  &--real-city{
    background-image: url(../img/main-city-mobile@1x.jpg);
  }
  &--devils-bridge {
    background-image: url(../img/main-bridge-mobile@1x.jpg);
  }
  &--little-squere,
  &--beutiful-road,
  &--tourists {
    background-color: $gray-bg;
  }
  &--little-squere,
  &--beutiful-road {
    p {
      border: 0px;
      border-bottom: 1px;
      border-style: solid;
      border-color: $gray-elem;
    }
  }
}

.info-section__title {

  margin-bottom: 11px;
}

.info-section__text {
  margin: 0;
  margin-top: 17px;
  padding-bottom: 25px;
}
