.video {
  padding-top: 32px;
  text-align: center;
}

.video__title {
  margin-left: 20px;
  margin-right: 20px;
  line-height: 26px;
  margin-bottom: 29px;
}

.video__text {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  margin-bottom: 33px;
  line-height: 24px;
}

.video__timeline {
  margin-top: -49px;
  margin-left: 20px;
  margin-right: 20px;
  height: 45px;
  position: relative;
  background-color: rgba($color: #000000, $alpha: 0.6);
}

.video__line {
  height: 3px;
  width: calc(100% - 44px);
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 22px;
  left: 22px;
}

.video__trigger {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 19px;
  left: 18%;
  border-radius: 50%;
  background-color: $white;
}

.video__params {
  position: relative;
  height: 66px;
  background-color: $gray-bg;
  margin-left: 20px;
  margin-right: 20px;
}

.video__restart {
  position: absolute;
  top: 22px;
  left: 25px;
  background-color: rgba($color: #000000, $alpha: 0);
  border: none;
  background-repeat: no-repeat;
  background-image: url(../img/icon-video-replay.svg);
  width: 16px;
  height: 20px;
}

.video__subtitles {
  position: absolute;
  top: 23px;
  right: 74px;
  background-color: rgba($color: #000000, $alpha: 0);
  border: none;
  background-repeat: no-repeat;
  background-image: url(../img/icon-video-subtitles.svg);
  width: 32px;
  height: 20px;
}

.video__fullscreen {
  position: absolute;
  top: 23px;
  right: 23px;
  background-color: rgba($color: #000000, $alpha: 0);
  border: none;
  background-repeat: no-repeat;
  background-image: url(../img/icon-video-fullscreen.svg);
  width: 20px;
  height: 20px;
}
