.map {
  text-align: center;
  padding-top: 33px;
}

.map__title {
  font-family: "PT-Sans", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 22px;
}

.map__text {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 27px;
}

.map__button {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 49px;;
}
